---
// layout
import Layout from "../layout/Layout.astro"

// components
import Section from "../components/elements/Section.astro";
import Text from "../components/elements/Text.astro";
import Link from "../components/elements/Link.astro";
---

<Layout
    title="Page Not Found"
    description="404"
    nofollow
    noindex
>
    <Section
        aria-label="Page Not Found"
        title="Page Not Found"
        titleHeading="404.exe"
    >
        <Text variant={'normal'} class="text-base-400">Esta página no existe — o quizá existió y se perdió en alguna refactorización. Hasta los renacentistas dejaron códices inacabados.</Text>
        <Link variant={'inline'} href="/" text="Volver al inicio" />
    </Section>
</Layout>
