---
// components
import Section from "../../elements/Section.astro";
import Text from "../../elements/Text.astro";
import Link from "../../elements/Link.astro";
import SocialLinks from "../../elements/SocialLinks.astro";
---

<Section
    aria-label="Contact"
    title="Contact"
    titleHeading="¿Hablamos?"
>
    <div class="flex flex-col gap-16 text-base-400">
        <Text variant={'normal'}>¿Quieres comentar algo que he construido, proponer un proyecto o simplemente saludar? Me alegra leerte.</Text>
        <Text variant={'normal'}>La mejor forma de encontrarme es en <Link variant="inline" href="https://github.com/rodrigo-ramos" text="GitHub" newWindow />, donde respondo issues y discussions, o por cualquiera de los canales de abajo.</Text>
    </div>

    <SocialLinks />
</Section>