---
// assets
import Calendar from "../../assets/icons/Calendar.astro";
import School from "../../assets/icons/School.astro";

// components
import Text from "../elements/Text.astro";
import Heading from "../elements/Heading.astro";

const { title, timeline, school } = Astro.props;

---


<div class="bg-base-900 p-16 flex flex-col gap-16">
    <Heading tagName="h3" tagSize="h3">{title}</Heading>
    <div class="flex md:flex-row md:gap-32 flex-col gap-16">
        <div class="flex flex-row gap-8 text-base-100 items-center">
            <Calendar width={20} height={20} fill="currentColor" />
            <Text variant={'sm'} class="text-base-500">{timeline}</Text>
        </div>
        <div class="flex flex-row gap-8 text-base-100 items-center">
            <School width={20} height={20} fill="currentColor" />
            <Text variant={'sm'} class="text-base-500">{school}</Text>
        </div>
    </div>
</div>

