---
import type { HTMLAttributes } from "astro/types";

// props
interface Props extends HTMLAttributes<"a"> {
    href: string,
    variant: "nav" | "inline",
    text: string,
    newWindow?: boolean
}

const { href, variant, text, newWindow = false, class: className, ...rest } = Astro.props;

// styling for each variant
const variantStyle = {
    nav: "px-24 py-16 bg-base-900 hover:bg-base-800 border-t-2 hover:border-t-base-900 text-base-100 hover:text-base-400 border-t-base-900 border-t-base-900 font-pixels text-20/5",
    inline: "font-pixels text-20 text-base-100 hover:text-base-300 font-semibold underline"
}
---

<a 
    href={href} 
    class:list={[variantStyle[variant], className]}
    target={newWindow ? "_blank" : undefined}
    rel={newWindow ? "noopener noreferrer" : undefined}
    aria-label={newWindow ? `${Astro.slots.has('default') ? '' : href} (opens in new window)` : undefined} 
    {...rest}
>
    {text}
</a>