---
// assets
import Calendar from "../../assets/icons/Calendar.astro";

// utils
import { formatDate } from "../../utils/formatDate";

// components
import Text from "../elements/Text.astro";
import Heading from "../elements/Heading.astro";

// props
const { title, publishedDate, slug } = Astro.props;
---

<a href=`/microfiction/${slug}` class="group border-2 border-base-950 hover:border-base-800 hover:drop-shadow-md">
    <div class="bg-base-900 group-hover:bg-base-950 p-16 flex flex-col gap-16">
        <Heading tagName="h3" tagSize="h3">{title}</Heading>
        <div class="flex flex-row gap-8 text-base-100">
            <Calendar width={20} height={20} fill="currentColor" />
            <Text variant={'sm'} class="text-base-400">{formatDate(publishedDate)}</Text>
        </div>
    </div>
</a>
