---
// components
import Text from "./Text.astro";
import Heading from "./Heading.astro";

const { class: className, title, titleHeading, ...rest } = Astro.props;

// styling for each variant
const style = "flex flex-col gap-24";
---

<section class:list={[style, className]}{...rest}>
    <div class="flex flex-col gap-8">
        <Text variant={'normal'} class="text-base-700">// {title}</Text>
        <Heading tagName="h2" tagSize="h2">{titleHeading}</Heading>
    </div>
    <slot />
</section>