---
import type { HTMLAttributes } from "astro/types";

// props
interface Props extends HTMLAttributes<"p">{
    variant?: "sm" | "normal" | "lg" | "xl" 
}

const { variant = "normal", class: className, ...rest } = Astro.props;

// styling for each variant
const variantStyles = {
    sm: "font-mono text-14/4",
    normal: "font-mono text-16/8",
    lg: "font-pixels text-24/8 text-base-300",
    xl: "font-pixels text-32/5 text-base-300 uppercase"
}
---

<p class:list={[variantStyles[variant], className]}{...rest}><slot /></p>